<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Registrar Usuario</title>
</head>
<body>
    <div class="container mt-5">
        <div th:if="${registroCorrecto}" class="alert alert-success" role="alert">
            <span th:text="${registroCorrecto}"></span>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-center">Registrar Usuario</h3>
            </div>
            <div class="card-body">
                <form th:action="@{/registrar}" method="post" th:object="${usuario}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input th:field="*{correo}" type="email" class="form-control" placeholder="Correo electrónico" required>
                    </div>
                    <div class="form-group">
                        <input th:field="*{password}" type="password" class="form-control" placeholder="Contraseña" required>
                    </div>
                    <div class="form-group">
                        <input th:field="*{nombres}" type="text" class="form-control" placeholder="Nombres" required>
                    </div>
                    <div class="form-group">
                        <input th:field="*{apellidos}" type="text" class="form-control" placeholder="Apellidos" required>
                    </div>
                    <div class="form-group">
                        <input th:field="*{FechaDeNacimiento}" type="date" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Foto Usuario</label>
                        <input name="foto" accept="image/*" required type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    <div class="form-group text-center">
                        <a class="btn btn-secondary mr-2" href="/">Atrás</a>
                        <button class="btn btn-primary" type="submit">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>
